<phpunit bootstrap="test/test-bootstrap.php">
 <testsuites>
    <testsuite name="OKFN Annotator plugin for Wordpress">
     <file>test/okfn-utilsTest.php</file>
     <file>test/okfn-annot-settingsTest.php</file>
     <file>test/okfn-annot-injectorTest.php</file>
     <file>test/okfn-annot-factoryTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
